@font-face {
  font-family: 'Adam';
  src: url('../assets/fonts/Adam/Adam-Light.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Adam';
  src: url('../assets/fonts/Adam/Adam-Medium.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Adam';
  src: url('../assets/fonts/Adam/Adam-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gadugi';
  src: url('../assets/fonts/Gadugi/gadugi.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 16px;
  line-height: 1.2rem;
  font-family: 'Adam', sans-serif;
  color: var(--text-color);
  font-weight: 700;
  overflow-x: hidden;
}

h1 {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: 'Gadugi', sans-serif;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.2rem;
  font-family: 'Adam', sans-serif;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 0 0 #ffffff;
}

h3 {
  margin-top: 5px;
  line-height: 1.2rem;
  font-family: 'Adam', sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 0 0 #ffffff;
}

p {
  margin: 0 0 15px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s ease-in-out;
}
